.login-wrapper{
display: grid;
background: linear-gradient(90deg, #9400D3 0%, #4B0082 100%);
height: 100%;
background-attachment: fixed;
}




.login-box{
margin: auto;
}

.login-header{
margin-bottom: 40px;
}



@media(max-width:768px){
.login-header img{
display: grid;
height:  24px;
margin: 0 auto;

}
}



form{
display: grid;
place-items: center;
}

form input{
width: 100%;
height: 30px;
margin-bottom: 24px;
}
        
form label{
color: #fff;
line-height: 50px;
}




p a{
color: #fff;
text-decoration: none;
}





.login-sign-in-btn{
border: solid 4px #ff00dd;
background-color: transparent;  
border-radius: 120px;  
padding: 1rem;

font-size: 24px;
outline: none;
cursor: pointer;
}

.login-sign-in-btn a{
color: #fff;
text-decoration: none;
letter-spacing: 3px;
}

   