.reg-wrapper{
display: grid;
background:linear-gradient(to bottom, #9400d399 0%, #4b008299), url(../img/concert-bg.png) no-repeat center center;
width: 100%;
height: 100vh;
-webkit-background-size: cover;
background-attachment: fixed;
background-size: cover;

}
    
   
    
.reg-box{
margin: auto;
}
    
@media(max-width:768px){
.reg-header img{
display: grid;   
margin: auto;
height:  24px;

}
}
    
form{
display: grid;
place-items: center;
padding: 2px;
}
    
form input{
width: 100%;
height: 30px;
margin-bottom: 24px;
}
            
form label{
color: #fff;
line-height: 40px;
}
    

    
p a{
color: #fff;
text-decoration: none;
}
    
.reg-sign-up-btn{
border-width: 0;
background: linear-gradient(90deg, #DA22FF 0%, #9733EE 100%);
padding: 1rem;
text-align: center;
place-items:center;
font-size: 24px;
outline: none;
cursor: pointer;
}
    
.reg-sign-up-btn a{
color: #fff;
text-decoration: none;
letter-spacing: 3px;
}

